<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
      #banner{
        height: 320px;
        object-fit: cover;
        width: 100%;
      }
    </style>
    
  </head>
  <body>
    <div class="container">
    <h1 class="text-center mt-4 mb-4">Jovian Careers</h1>
    <img class="img-fluid" src="static/banner.jpg" id="banner">
    <h2 class="text-center mt-4 mb-4">About Jovian</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a elementum risus, id consectetur sem. Ut et massa sit amet velit tincidunt posuere vitae eu enim. Sed rhoncus in felis id dictum. Fusce sollicitudin metus eget mattis maximus. Vestibulum scelerisque sapien ut mauris laoreet, sit amet pulvinar nunc tincidunt. Ut congue, odio nec bibendum cursus, purus odio pulvinar eros, quis tempor augue lacus quis lacus. Curabitur eget laoreet ligula, ac commodo mi. Duis cursus ex in quam vestibulum egestas. Aliquam placerat auctor enim sollicitudin varius.</p>
    <h2 class="text-center mt-4 mb-4">Open Positions</h2>
      {% include 'jobitem.html' %}
      <div class="text-center">
    <button class="btn btn-primary btn-lg">Contact Us</button>
      </div>
      </div>
  </body>
</html>